@model Dashboard
@{
    ViewBag.Title = "Dashboard";
}

@*<h2>Dashboard</h2>

<a href="/">Add/Edit User</a><br />
<br />
<a href="/">Add/Edit Agent</a><br />
<a href="/">Add/Edit Tenant</a><br />
<a href="/">Add/Edit Owner</a><br />
<a href="/">Add/Edit Landlord</a><br />
<br />
<a href="/">Add/Edit Properties</a><br />
<a href="/">Add/Edit Companies</a><br />
<a href="/">Add/Edit Inspections</a><br />
<a href="/">View/Export Reports</a><br />
<a href="/">Do Inspections</a>*@

@* Company Logo *@
<div class="row">
    <div class="center">
        <img class="dashboard-logo" src="~/Content/Images/olea.png" />
    </div>
</div>

<div class="row">   
    @*@UI.Tile("Lable Field", "Icon Field", "Url Field without the /")*@
    @UI.Tile("Add/Edit User", "assignment_ind")
    @UI.Tile("Add/Edit Properties", "store","Property")
    @UI.Tile("Add/Edit Companies", "business", "Landlord")
    @UI.Tile("Add/Edit Inspections", "youtube_searched_for", "Inspection")
    @UI.Tile("View/Export Reports", "description", "Report")
    @UI.Tile("Do Inspections", "input", "Inspection")    
</div>





<script>

    //redirect function
    function change_url(href)
    {
        window.location.href = "/" + href;
    }


    //make tiles equal height
    var maxHeight = 0 
    $().ready()
    {
        $('.menu-item').each(function () {
            if (maxHeight < $(this)[0].clientHeight) {
                maxHeight = $(this)[0].clientHeight;
            }            
            console.log(maxHeight);
        })

        $('.menu-item').height(maxHeight- 40);
    }
</script>
