@model NavLinkControl

@if (Model.Mobile){<li><a class="waves-effect waves-pspt-blue" href="@Model.Link">@Model.Label</a></li>}
else
{<li class="waves-effect  @Model.LinkClass"><a href="@Model.Link" class="">@Model.Label</a></li>}


