@model ListAsyncFormModel
@{
    ViewBag.Title = "List";
}

<div class="long-container propspect-blue-background z-depth-1">
    <div class="">
        <h3 class="center white-text padding-2">LandLords</h3>
    </div>
</div>


@Form.ListAsync(Model)

@Form.Textbox(x => x.Control.Label)
@Form.Textbox(x => x.Control.Label)
@Form.Textbox(x => x.Control.Label)
@Form.Textbox(x => x.Control.Label)
@Form.Textbox(x => x.Control.Label)
@Form.Textbox(x => x.Control.Label)
@Form.Textbox(x => x.Control.Label)




