@model Tenant
@{
    ViewBag.Title = "Create";
}


@*<h2>Add @Model.Type</h2>*@

@*<form method="POST" action="/user/add-user">
    @Form.Textbox(x=>x.Username)
    @Form.Hidden(x=>x.Type)
    @Form.SubmitButton("Create");
</form>*@

<div class="row">
    <div class="col s12 m10 l6  offset-m1 offset-l3">
        <form action="/user/add-user/t" method="POST" class="z-depth-1 white">
            <div class="lg-upper-form">
                <h5 class="center-align">Add @PropSpect.Api.Models.Helpers.Associations.GetLoginRole(Model.Type)</h5>
            </div>
            <div class="lg-lower-form">
                <div class="row">
                    @Form.Textbox(x => x.FirstName)
                    @Form.Textbox(x => x.LastName)
                    @Form.Textbox(x => x.Email)
                    @Form.Textbox(x => x.IDNumber)
                    @Form.Textbox(x => x.TelMobile)
                    @Form.Textbox(x => x.TelWork)
                    @Form.Textbox(x => x.Username)
                    @Form.Textbox(x => x.Password)
                    @Form.Hidden(x => x.Type)
                </div>            
                <div class="divider"></div>
                <span class="right-align">
                    <br />
                    @Form.Button("Create")
                </span>
            </div>
        </form>
    </div>
</div>
<div class=" center">
    <img src="~/Content/Images/olea.png" class="img-max-500 center" />
</div>


