@model List<Tenant>
@{
    ViewBag.Title = "Create";
}

@* took class: knockout-search out *@
<div class="long-container white z-depth-1  col s12">
    <div class="propspect-blue-background z-depth-1">
        <div class="">
            <h3 class="center white-text padding-2">Add/Edit Tenant</h3>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <table class="highlight bordered">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>ID Number</th>
                        <th>Tel Work</th>
                        <th>Tel Mobile</th>
                        <th>Email</th>
                        <th>Username</th>
<th><a href="/user/add/tenant" class="btn-floating waves-effect waves-light propspect-blue-background tooltipped" data-position="right" data-delay="50" data-tooltip="Add"><i class="material-icons">add</i></a></th>
                    </tr>
                </thead>
                <tbody class="font-12">
                    @foreach (var tenant in Model)
                    {
                    <tr>
                        <td>@tenant.FirstName</td>
                        <td>@tenant.LastName</td>
                        <td>@tenant.IDNumber</td>
                        <td>@tenant.TelWork</td>
                        <td>@tenant.TelMobile</td>
                        <td>@tenant.Email</td>        
                        <td>@tenant.Username</td>   
                        <td><a href="/user/add/tenant/@tenant.TenantID">Edit </a></td>
                
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
